/*FONT SIZES*/
/* 60 - 36 - 35 - 34 - 32 -30 - 25 - 24 - 20 - 18 - 16 -12 */

/*COLORS*/
/* Text: #404040
Few blue headers: #0D8B9F
Few orange headers: #F49102
Form & some boxes text: #2D354C
Video box: rgba(45, 197, 250, 0.1)
People box blue: #E5F3F5
People box orange: #FEF4E6*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #404040;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.column {
    flex-direction: column;
}
 
/*HEADER*/
.header {
    background-image: url("https://res.cloudinary.com/dxbwwhlc6/image/upload/v1562780192/header_s9qzns.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 747px;
}

.header img {
    position: relative;
    top: 48px; 
    left: 74.3px;
    height: 68px;
}

.header-content {
    width: 768px;
    padding: 72px;
    color: #fff;
}

.header-content h1 {
    font-size: 53px;
}

.header-content p {
    font-size: 25px;
}

/*FORM*/
.form {
    width: 480px;
    height: 572px;

    padding: 2rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    color: #2D354C;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: 0;
    border-bottom: 2px solid black;
    font-size: 16px;
}

label {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

button {
    color: #fff;
    background-color: #2DC5FA;;
    border: none;
    border-radius: 6px;
    height: 56px;
    font-size: 20px;
}

/*RECTANGLES*/
.rect-box {
    margin: 6.2rem 9.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.rect-text {
    padding: 1rem 4.5rem;
    line-height: 150%;
    font-size: 18px;
}

.rect {
    margin: 6rem 0;
}

.video-box {
    background-color:  rgba(45, 197, 250, 0.1);
    border-radius: 6px;
    margin: 2.25rem 4.5rem;
    height: 40vh;
    padding: 2rem;
}

.video-box-text {
    color: #2D354C;
    margin-right: 2rem;
    line-height: 150%;
}

/*PEOPLE BOXES*/
.people-box-intro {
    text-align: center;
    padding-bottom: 2rem;
    margin: 4rem 0;
}

.people-main-cont {
    margin: 3rem 11.5rem 6rem 11.5rem;
}

.people-flex-end{
    justify-content: flex-end;
}

.people-cont {
    margin: 1rem 0;
}

.people-box {
    height: 302px;
    width: 904px;
    border-radius: 6px;
    quotes:  "“" "“" ;
    line-height: 32px;
}

.people-blue {
    background-color: #E5F3F5;
    padding: 3.7rem 5rem 3.7rem 17rem;
}

.people-orange {
    background-color: #FEF4E6;
    padding: 3.7rem 17rem 3.7rem 5rem;
}

/*REASONS*/
.reasons{
    background-color: #FEF4E6;
    height: 30rem;
    padding: 3.7rem 4rem;
}

.reasons-text {
    width: 42vw;
    line-height: 140%;
    margin-right: 2rem;
}

.reasons-text ul{
    list-style: none;
}

.reasons-text li{
    padding: 0.5rem 0 1.5rem 3rem;
    background: url("https://res.cloudinary.com/dxbwwhlc6/image/upload/v1563116375/tick_nrstto.png") no-repeat 0 0;
}

.reasons form{
    position: relative;
    top: -8rem;
}